
 
<div class="book-flipbook-body">
    <div class="flipbook">
      <div
        class="hard"
        style="
          background-image: url(https://cdn.shopify.com/s/files/1/0669/3670/1123/files/3.webp?v=1729489868);
          background-size: cover;
          background-position: center;
        "
      >
        <img class="logo" src="https://cdn.shopify.com/s/files/1/0669/3670/1123/files/logo.svg?v=1729489868" alt="Logo" />
        Look book! <small>~ NataKuku</small>
      </div>

      <!-- Image 1 -->
      <div class="page">
        <img src="https://cdn.shopify.com/s/files/1/0669/3670/1123/files/pexels-oleksandra-19285596.jpg?v=1729489701" alt="jumper" />
        <p>jumper</p>
        <a href="#" class="dot-link">
          <div class="description-box">
            <strong class="title">jumper</strong>
            <span class="subtitle">warm jumper for winter</span>
          </div>
        </a>
      </div>

      <!-- Image 2 -->
      <div class="page">
        <img src="https://cdn.shopify.com/s/files/1/0669/3670/1123/files/pexels-oleksandra-19285596.jpg?v=1729489701" alt="Coat" />
        <p>Coat</p>
        <a href="#" class="dot-link">
          <div class="description-box">
            <strong class="title">Coat</strong>
            <span class="subtitle">Coat for winter</span>
          </div>
        </a>
      </div>

      <!-- Video -->
      <div>
        <video
          class="BookVideo"
          src="https://cdn.shopify.com/videos/c/o/v/9bc4266139e4411980f7c23c847ccb7b.mp4"
          style="pointer-events: none"
          controls
          autoplay
          muted
          playsinline
        ></video>
      </div>

      <!-- Image 3 -->
      <div class="page">
        <img src="https://cdn.shopify.com/s/files/1/0669/3670/1123/files/pexels-oleksandra-19285596.jpg?v=1729489701" alt="Shorts" />
        <p>Shorts</p>
        <a href="#" class="dot-link">
          <div class="description-box">
            <strong class="title">Shorts</strong>
            <span class="subtitle">Summer Shorts</span>
          </div>
        </a>
      </div>

      <!-- More Images -->
      <div class="page">
        <img src="https://cdn.shopify.com/s/files/1/0669/3670/1123/files/pexels-oleksandra-19285596.jpg?v=1729489701" alt="Shorts" />
        <p>Shorts</p>
        <a href="#" class="dot-link">
          <div class="description-box">
            <strong class="title">Shorts</strong>
            <span class="subtitle">Summer Shorts</span>
          </div>
        </a>
      </div>

      <!-- Image 4 -->
      <div class="page">
        <img src="https://cdn.shopify.com/s/files/1/0669/3670/1123/files/pexels-oleksandra-19285596.jpg?v=1729489701" alt="T-shirt" />
        <p>T-shirt</p>
        <a href="#" class="dot-link">
          <div class="description-box">
            <strong class="title">T-shirt</strong>
            <span class="subtitle"> T-shirt</span>
          </div>
        </a>
      </div>
      <div class="page">
        <img src="https://cdn.shopify.com/s/files/1/0669/3670/1123/files/pexels-oleksandra-19285596.jpg?v=1729489701" alt="T-shirt" />
        <p>T-shirt</p>
        <a href="#" class="dot-link">
          <div class="description-box">
            <strong class="title">T-shirt</strong>
            <span class="subtitle"> T-shirt</span>
          </div>
        </a>
      </div>
      <div>
        <video
          class="BookVideo"
          src="https://cdn.shopify.com/videos/c/o/v/9bc4266139e4411980f7c23c847ccb7b.mp4"
          style="pointer-events: none"
          controls
          autoplay
          muted
          playsinline
        ></video>
      </div>
      <div class="page">
        <img src="https://cdn.shopify.com/s/files/1/0669/3670/1123/files/pexels-oleksandra-19285596.jpg?v=1729489701" alt="T-shirt" />
        <p>T-shirt</p>
        <a href="#" class="dot-link">
          <div class="description-box">
            <strong class="title">T-shirt</strong>
            <span class="subtitle"> T-shirt</span>
          </div>
        </a>
      </div>
      <!-- Image 3 -->
      <div class="page">
        <img src="https://cdn.shopify.com/s/files/1/0669/3670/1123/files/pexels-oleksandra-19285596.jpg?v=1729489701" alt="Shorts" />
        <p>Shorts</p>
        <a href="#" class="dot-link">
          <div class="description-box">
            <strong class="title">Shorts</strong>
            <span class="subtitle">Summer Shorts</span>
          </div>
        </a>
      </div>
      <div>
        <video
          class="BookVideo"
          src="https://cdn.shopify.com/videos/c/o/v/9bc4266139e4411980f7c23c847ccb7b.mp4"
          style="pointer-events: none"
          controls
          autoplay
          muted
          playsinline
        ></video>
      </div>

      <!-- More Images -->
      <div class="page">
        <img src="https://cdn.shopify.com/s/files/1/0669/3670/1123/files/pexels-oleksandra-19285596.jpg?v=1729489701" alt="Shorts" />
        <p>Shorts</p>
        <a href="#" class="dot-link">
          <div class="description-box">
            <strong class="title">Shorts</strong>
            <span class="subtitle">Summer Shorts</span>
          </div>
        </a>
      </div>
    </div>
</div>

    
<script defer>
      document.addEventListener("DOMContentLoaded", function () {
        let pages_count = document.querySelectorAll(".page").length;

        // Add a blank last page if the number of pages is odd
        if (pages_count % 2 !== 0) {
          const lastPage = document.querySelector(".page:last-child");
          const newPage = lastPage.cloneNode(true);
          newPage.classList.add("hard");
          newPage.style.background =
            "#c0392b url('../images/3.webp') no-repeat center/cover";
          newPage.style.color = "#fff";
          newPage.style.fontWeight = "bold";
          newPage.innerHTML =
            "Thank You for visiting <small>~ NataKuku</small>";
          document.querySelector(".flipbook").appendChild(newPage);
        }

        // Initialize the flipbook
        $(".flipbook").turn();

				
        // Add page flip event listener to handle videos dynamically
        $(".flipbook").on("turning", function (event, page, view) {
          const visiblePages = $(this).turn("view");
          console.log("Visible Pages:", visiblePages);

          // Play all videos initially
          const allVideos = document.querySelectorAll(".BookVideo");
          allVideos.forEach((video) => {
            console.log(video);
            if (video.paused) {
              console.log(video.paused);
              video.play();
            }
          });
        });

        // Ensure videos loop when they end
        const videos = document.querySelectorAll(".BookVideo");
        videos.forEach((video) => {
          video.addEventListener("ended", () => {
            video.play(); // Replay the video once it ends
          });
        });

        // Random dot positioning logic
        const dots = document.querySelectorAll(".dot-link");
        dots.forEach((dot) => {
          const image = dot.previousElementSibling; // Select the img element before the dot
          const imageWidth = image.offsetWidth;
          const imageHeight = image.offsetHeight;

          let randomX, randomY;

          if (window.innerWidth < 768) {
            // Generate random positions for the dot within the image boundaries (tablet)
            randomX = Math.floor(Math.random() * (imageWidth - 50)) + 125;
            randomY = Math.floor(Math.random() * (imageHeight - 50)) + 125;
          } else if (window.innerWidth < 480) {
            // Generate random positions for the dot within the image boundaries (mobile)
            randomX = Math.floor(Math.random() * (imageWidth - 50)) + 75;
            randomY = Math.floor(Math.random() * (imageHeight - 50)) + 75;
          } else {
            // Generate random positions for the dot within the image boundaries (desktop)
            randomX = Math.floor(Math.random() * (imageWidth - 10)) + 250;
            randomY = Math.floor(Math.random() * (imageHeight - 10)) + 250;
          }

          // Set the position of the dot
          dot.style.left = `${randomX}px`;
          dot.style.top = `${randomY}px`;
        });
      });


          // Show description box when mouse enters the dot-link
          dotLink.addEventListener('mouseenter', function() {
            descriptionBox.style.display = 'block';
          });

          // Hide description box when mouse leaves the dot-link
          dotLink.addEventListener('mouseleave', function() {
            descriptionBox.style.display = 'none';
          });

    </script>

{% schema %}
    {
      "name": "Book slideshow",
      "class": "section",
      "disabled_on": {
        "groups": ["header", "footer"]
      },
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.multirow.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.multirow.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.multirow.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.multirow.settings.image_height.options__4.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.multirow.settings.image_height.label"
        },
        {
          "type": "select",
          "id": "desktop_image_width",
          "options": [
            {
              "value": "small",
              "label": "t:sections.multirow.settings.desktop_image_width.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.multirow.settings.desktop_image_width.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.multirow.settings.desktop_image_width.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.multirow.settings.desktop_image_width.label",
          "info": "t:sections.multirow.settings.desktop_image_width.info"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.multirow.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.multirow.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.multirow.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.multirow.settings.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.multirow.settings.button_style.options__2.label"
            }
          ],
          "default": "secondary",
          "label": "t:sections.multirow.settings.button_style.label"
        },
        {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "top",
              "label": "t:sections.multirow.settings.desktop_content_position.options__1.label"
            },
            {
              "value": "middle",
              "label": "t:sections.multirow.settings.desktop_content_position.options__2.label"
            },
            {
              "value": "bottom",
              "label": "t:sections.multirow.settings.desktop_content_position.options__3.label"
            }
          ],
          "default": "middle",
          "label": "t:sections.multirow.settings.desktop_content_position.label",
          "info": "t:sections.multirow.settings.desktop_content_position.info"
        },
        {
          "type": "select",
          "id": "desktop_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.multirow.settings.desktop_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.multirow.settings.desktop_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.multirow.settings.desktop_content_alignment.options__3.label"
            }
          ],
          "default": "left",
          "label": "t:sections.multirow.settings.desktop_content_alignment.label"
        },
        {
          "type": "select",
          "id": "image_layout",
          "options": [
            {
              "value": "alternate-left",
              "label": "t:sections.multirow.settings.image_layout.options__1.label"
            },
            {
              "value": "alternate-right",
              "label": "t:sections.multirow.settings.image_layout.options__2.label"
            },
            {
              "value": "align-left",
              "label": "t:sections.multirow.settings.image_layout.options__3.label"
            },
            {
              "value": "align-right",
              "label": "t:sections.multirow.settings.image_layout.options__4.label"
            }
          ],
          "default": "alternate-left",
          "label": "t:sections.multirow.settings.image_layout.label",
          "info": "t:sections.multirow.settings.image_layout.info"
        },
        {
          "type": "color_scheme",
          "id": "section_color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "color_scheme",
          "id": "row_color_scheme",
          "label": "t:sections.multirow.settings.container_color_scheme.label",
          "default": "scheme-1"
        },
        {
          "type": "header",
          "content": "t:sections.multirow.settings.header_mobile.content"
        },
        {
          "type": "select",
          "id": "mobile_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.multirow.settings.mobile_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.multirow.settings.mobile_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.multirow.settings.mobile_content_alignment.options__3.label"
            }
          ],
          "default": "left",
          "label": "t:sections.multirow.settings.mobile_content_alignment.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 36
        }
      ],
      "presets": [
        {
          "name": "book slideshow",          
        }
      ]
    }
{% endschema %}