{% schema %}
  {
    "name": "Three Media Product Section",
    "settings": [
      {
        "type": "text",
        "id": "section_text",
        "label": "Text for the section",
        "default": "Це нова секція"
      }
    ],
    "presets": [
      {
        "name": "Three Media Product Section",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
  
  <div class="three-media-product-section">
    <p>{{ section.settings.section_text }}</p>
  </div>
  