{% schema %}
  {
    "name": "Three Media Section",
    "settings": [
      {
        "type": "text",
        "id": "section_text",
        "label": "Section Text",
        "default": "Three Media Section"
      },
      {
        "type": "image_picker",
        "id": "media_image_1",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Three Media Section"
      }
    ]
  }
  {% endschema %}
  
<div class="three-media-product-section">
  <p>{{ section.settings.section_text }}</p>
  <div class="grid grid--1-col">
    <div class="grid__item">  
      {% if section.settings.media_image_1 %} 
        <img src="{{ section.settings.media_image_1 | image_url: width: 1920 }}" width="1920" height="auto"alt="{{ section.settings.media_image_1.alt }}">
      {% endif %}
    </div>
  </div>
</div>

